{
  "openapi": "3.0.3",
  "info": {
    "title": "Time Management API",
    "description": "API for managing time-related operations",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.timemanager.com/v1",
      "description": "Production server"
    }
  ],
  "paths": {
    "/users/{userId}/schedule": {
      "get": {
        "summary": "Get user schedule",
        "description": "Retrieve the schedule for a specific user",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startTime",
            "in": "query",
            "description": "Start time for schedule query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endTime",
            "in": "query",
            "description": "End time for schedule query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Schedule retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduleResponse"
                }
              }
            }
          }
        }
      }
    },
    "/events": {
      "post": {
        "summary": "Create new event",
        "description": "Create a new calendar event",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EventRequest"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/EventRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Event created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/reports/timesheet": {
      "get": {
        "summary": "Generate timesheet report",
        "description": "Generate a timesheet report for specified period",
        "parameters": [
          {
            "name": "reportStartTime",
            "in": "query",
            "required": true,
            "description": "Report start time",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "reportEndTime",
            "in": "query",
            "required": true,
            "description": "Report end time",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Timesheet report generated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TimesheetReport"
                }
              },
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ScheduleResponse": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "string",
            "description": "User identifier"
          },
          "scheduleStartTime": {
            "type": "string",
            "format": "date-time",
            "description": "Schedule start time"
          },
          "scheduleEndTime": {
            "type": "string",
            "format": "date-time",
            "description": "Schedule end time"
          },
          "events": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Event"
            }
          },
          "lastUpdateTime": {
            "type": "string",
            "format": "date-time",
            "description": "Last time the schedule was updated"
          }
        }
      },
      "EventRequest": {
        "type": "object",
        "required": ["title", "startTime", "endTime"],
        "properties": {
          "title": {
            "type": "string",
            "description": "Event title"
          },
          "description": {
            "type": "string",
            "description": "Event description"
          },
          "startTime": {
            "type": "string",
            "format": "date-time",
            "description": "Event start time"
          },
          "endTime": {
            "type": "string",
            "format": "date-time",
            "description": "Event end time"
          },
          "reminderTime": {
            "type": "string",
            "format": "date-time",
            "description": "Reminder time for the event"
          },
          "location": {
            "type": "string",
            "description": "Event location"
          },
          "attendees": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Attendee"
            }
          }
        }
      },
      "EventResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/EventRequest"
          },
          {
            "type": "object",
            "properties": {
              "eventId": {
                "type": "string",
                "description": "Unique event identifier"
              },
              "createdTime": {
                "type": "string",
                "format": "date-time",
                "description": "Event creation time"
              },
              "modifiedTime": {
                "type": "string",
                "format": "date-time",
                "description": "Last modification time"
              },
              "status": {
                "type": "string",
                "enum": ["confirmed", "tentative", "cancelled"]
              }
            }
          }
        ]
      },
      "Event": {
        "type": "object",
        "properties": {
          "eventId": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "startTime": {
            "type": "string",
            "format": "date-time"
          },
          "endTime": {
            "type": "string",
            "format": "date-time"
          },
          "duration": {
            "type": "integer",
            "description": "Event duration in minutes"
          },
          "timeZone": {
            "type": "string",
            "description": "Event timezone"
          }
        }
      },
      "Attendee": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "name": {
            "type": "string"
          },
          "responseTime": {
            "type": "string",
            "format": "date-time",
            "description": "Time when attendee responded to invitation"
          },
          "status": {
            "type": "string",
            "enum": ["accepted", "declined", "tentative", "pending"]
          }
        }
      },
      "TimesheetReport": {
        "type": "object",
        "properties": {
          "reportId": {
            "type": "string"
          },
          "generatedTime": {
            "type": "string",
            "format": "date-time",
            "description": "Report generation time"
          },
          "periodStartTime": {
            "type": "string",
            "format": "date-time",
            "description": "Report period start time"
          },
          "periodEndTime": {
            "type": "string",
            "format": "date-time",
            "description": "Report period end time"
          },
          "totalWorkTime": {
            "type": "integer",
            "description": "Total work time in minutes"
          },
          "entries": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TimesheetEntry"
            }
          }
        }
      },
      "TimesheetEntry": {
        "type": "object",
        "properties": {
          "entryId": {
            "type": "string"
          },
          "taskName": {
            "type": "string"
          },
          "startTime": {
            "type": "string",
            "format": "date-time"
          },
          "endTime": {
            "type": "string",
            "format": "date-time"
          },
          "breakTime": {
            "type": "integer",
            "description": "Break time in minutes"
          },
          "loggedTime": {
            "type": "string",
            "format": "date-time",
            "description": "Time when entry was logged"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "Error occurrence time"
          }
        }
      }
    }
  }
}